<!DOCTYPE html>
<html lang=”es”>
<head>
    <meta charset=”UTF-8″ />
    <title>Document</title>
</head>
<body>
  <div class="modal-body">
    <table class="table table-light tabla1 " style="background-color: #ffffff;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Texto</th>
          <th scope="col">Imagen</th>
          <th scope="col">key</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of publicacionesList">
          <th scope="row">{{item.titulo}}</th>
          <td>{{item.texto}}</td>
          <td>{{item.imagen}}</td>
          <td>{{item.key}}</td>
          <span class="button-delete"(click)="removeFromList(item.$key)">Eliminar</span>
          <td><a class="button" style="font-size: 16px;" title="Editar" href="" data-toggle="modal" data-target="#gestion">
            </a>
            
          </td>                
        </tr>
    

       
    </tbody>
  </table>
  </div>
</body>
</html>
